<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">

      <!-- Logo container-->
      <div class="logo">
        <!-- Text Logo -->
        <!--<a href="index.html" class="logo">-->
        <!--UBold-->
        <!--</a>-->
        <!-- Image Logo -->
        <a href="index.html" class="logo">
          <img src="assets/images/logos/webtrekk_md.png" alt="Webtrekk" height="24" class="logo-lg">
          <img src="assets/images/logos/webtrekk_sm.png" alt="Webtrekk" height="26" class="logo-sm">
        </a>

      </div>
      <!-- End Logo container-->
      <div class="menu-extras topbar-custom">
        <ul class="list-inline float-right mb-0">
          <li class="menu-item list-inline-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle nav-link">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>
        </ul>
      </div>
      <!-- end menu-extras -->
      <div class="clearfix"></div>
    </div> 
    <!-- end container -->
  </div>
  <!-- end topbar-main -->
</header>